@{
    ViewBag.Title = "PedidoNovo";
}

<h2>Novo Pedido</h2>
<hr />
<div>
    <form method="get" action="PedidoNovoConfirmarCliente" class="form-inline">
        <label>CPF:</label>
        <input type="text" name="CPF" id="CPF" class="form-control" />
        <input type="submit" value="Confirmar" class="btn btn-default" />
    </form>
</div>